body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.news-feed {
  background-color: rgb(126, 72, 72);
}

.currency-converter {
  background-color: rgb(118, 118, 151);
}

.exchange-rate {
  background-color: rgb(110, 139, 110);
}